.GuaranteeSection{
    width: 90%;
    margin: 50px  auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.GuaranteeSection span{
    color: #017dc3;
}
@media only screen and (max-width: 768px) {
    .GuaranteeSection{
        flex-direction: column;
    }
}