.serviceSection{
    margin: 50px 0px;
}
.serviceSection h1{
    color: #017dc3;
}
.serviceCard{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
@media only screen and (max-width: 850px) {
    .serviceCard{
        grid-template-columns: repeat(1, 1fr);
    }
}