.reviewAll{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(194, 194, 194, 0.262);
}
.reviewAll img{
    width: 30%;
}
@media only screen and (max-width: 991px) {
    .reviewAll{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
        padding: 5px;
        margin: 10px auto;
        background-color: rgba(194, 194, 194, 0.262);
    }
    .reviewAll img{
        width: 50%;
    }
}
@media only screen and (max-width: 551px) {
    .reviewAll{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        grid-gap: 5px;
        padding: 5px;
        margin: 10px auto;
        background-color: rgba(194, 194, 194, 0.262);
    }
    .reviewAll img{
        width: 100%;
    }
    .reviewMassage{
        margin-top: 10px;
        text-align: center;
        grid-column: 1 / span 2;
    }
}